spring:
  application:
    name: search-service

opensearch:
  base-url: http://localhost:9200
  doc-index: books_doc_read
  vec-index: books_vec_read
  connect-timeout-ms: 200
  read-timeout-ms: 200
